# EX1
- Create a new variable called class_size, and assign the value of data["class_size"] to it.
- Filter class_size so the GRADE column only contains the value 09-12. Note that the name of the GRADE column has a space at the end; you'll generate an error if you don't include it.
- Filter class_size so that the PROGRAM TYPE column only contains the value GEN ED.
- Display the first five rows of class_size to verify.

In [17]:
import pandas as pd
#Combining Dataframes

data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}
for f in data_files:
    d = pd.read_csv("schools/{0}".format(f))
    key_name=f.replace(".csv","")
    data[key_name]=d
    
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "]=="09-12"]
class_size = class_size[class_size["PROGRAM TYPE"]=="GEN ED"]
print(class_size.head(5))

class_size = data["class_size"]
class_size = class_size[class_size["GRADE "]=="09-12"]
class_size = class_size[class_size["PROGRAM TYPE"]=="GEN ED"]
print(class_size.head(5))

     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies
228    1       M        M292  Henry Street School for International Studies
229    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH
228  09-12       GEN ED                              ENGLISH
229  09-12       GEN ED                                 MATH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -
228                          English 12                           -
229                  Integrated Algebra                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0
228                               69.0                 3.0
229                               53.0                 3.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0
228                23.0                    13.0                   30.0
229                17.7                    16.0                   21.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
225       STARS                             NaN
226       STARS                             NaN
227       STARS                             NaN
228       STARS                             NaN
229       STARS                             NaN
     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies
228    1       M        M292  Henry Street School for International Studies
229    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH
228  09-12       GEN ED                              ENGLISH
229  09-12       GEN ED                                 MATH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -
228                          English 12                           -
229                  Integrated Algebra                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0
228                               69.0                 3.0
229                               53.0                 3.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0
228                23.0                    13.0                   30.0
229                17.7                    16.0                   21.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
225       STARS                             NaN
226       STARS                             NaN
227       STARS                             NaN
228       STARS                             NaN
229       STARS                             NaN

The DataFrame.groupby() method will split a dataframe up into unique groups, based on a given column. We can then use the agg() method on the resulting pandas.core.groupby object to find the mean of each column.
# DataFrame.groupby()
# DataFrame.agg()
# EX2
- Find the average values for each column associated with each DBN in class_size.

Use the pandas.DataFrame.groupby() method to group class_size by DBN.

Use the agg() method on the resulting pandas.core.groupby object, along with the numpy.mean() function as an argument, to calculate the average of each group.

Assign the result back to class_size.
- Reset the index to make DBN a column again.

Use the pandas.DataFrame.reset_index() method, along with the keyword argument inplace=True.

- Assign class_size back to the class_size key of the data dictionary.
- Display the first few rows of data["class_size"] to verify that everything went okay.

In [20]:
import numpy
#Read surveys with correct delimiter and encoding
all_survey = pd.read_csv("schools/survey_all.txt",delimiter = "\t",encoding= "windows_1252")
d75_survey = pd.read_csv("schools/survey_d75.txt", delimiter = "\t",encoding = "windows_1252")

#Combine dataframes 
survey = pd.concat([all_survey,d75_survey],axis = 0)
survey["DBN"] = survey["dbn"]

survey_fields = [
    "DBN", 
    "rr_s", 
    "rr_t", 
    "rr_p", 
    "N_s", 
    "N_t", 
    "N_p", 
    "saf_p_11", 
    "com_p_11", 
    "eng_p_11", 
    "aca_p_11", 
    "saf_t_11", 
    "com_t_11", 
    "eng_t_11", 
    "aca_t_11", 
    "saf_s_11", 
    "com_s_11", 
    "eng_s_11", 
    "aca_s_11", 
    "saf_tot_11", 
    "com_tot_11", 
    "eng_tot_11", 
    "aca_tot_11",
]
survey = survey.loc[:,survey_fields]
data["survey"] = survey

#print(survey.head())
class_size = class_size.groupby("DBN").agg(numpy.mean)
class_size.reset_index(inplace=True)
data["class_size"] = class_size
print(data["class_size"].head(5))

      DBN  rr_s  rr_t  rr_p    N_s   N_t    N_p  saf_p_11  com_p_11  eng_p_11  \
0  01M015   NaN    88    60    NaN  22.0   90.0       8.5       7.6       7.5
1  01M019   NaN   100    60    NaN  34.0  161.0       8.4       7.6       7.6
2  01M020   NaN    88    73    NaN  42.0  367.0       8.9       8.3       8.3
3  01M034  89.0    73    50  145.0  29.0  151.0       8.8       8.2       8.0
4  01M063   NaN   100    60    NaN  23.0   90.0       8.7       7.9       8.1

      ...      eng_t_11  aca_t_11  saf_s_11  com_s_11  eng_s_11  aca_s_11  \
0     ...           7.6       7.9       NaN       NaN       NaN       NaN
1     ...           8.9       9.1       NaN       NaN       NaN       NaN
2     ...           6.8       7.5       NaN       NaN       NaN       NaN
3     ...           6.8       7.8       6.2       5.9       6.5       7.4
4     ...           7.8       8.1       NaN       NaN       NaN       NaN

   saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0         8.0         7.7         7.5         7.9
1         8.5         8.1         8.2         8.4
2         8.2         7.3         7.5         8.0
3         7.3         6.7         7.1         7.9
4         8.5         7.6         7.9         8.0

[5 rows x 23 columns]

KeyError: 'DBN'